.bckg{
    background:url('/static/img/background.jpg');
    padding:40px;
}

.main{
    padding:40px;
}

/*.main {
    height:100%;
    width:100%;
    text-align:center;
    background:url('/static/img/background.jpg') no-repeat center;
    background-size:cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    left:0;
    top: 0;
    border-radius: 0;
}*/


div {
    border-radius:25px;
}

#error {
    color: red;
}

#place-btn {

    width: 60px;
    margin-left: 40px;
}

#run-btn {

    width: 60px;
    margin-left: 40px;
}

.navbar{
    margin-top: -20px;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

h1,p{
    color: lavender;
}

.bat{
    height:400px;
    filter: blur(3px) ;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    padding-left: 130px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
}

.bowl{
    height:400px;
    width: 420px;
    filter: blur(3px) ;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    padding-left: 130px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
}

footer{
    margin-bottom: -30px;
    color: lavender;
}

.ftr{
    position:fixed;
    height:30px;
    color:black;
    bottom:10px;
    left:50px;
    right:0px;
    margin-bottom:10px;
}


.bat:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(0);
  filter: blur(0);
}

.bowl:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(0);
  filter: blur(0);
}

.abc{
    margin-bottom: -30px;
}

#exTab3 .nav-pills > li > a {
    font-weight: bold;
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  background-color: #337ab7;
  padding : 5px 15px;
  border-radius: 0px;
}











